{% load static %}
<!-- Off-canvas navigation for mobile and tablet -->
<div class="offcanvas offcanvas-end d-lg-none nav--offcanvas" tabindex="-1" id="offcanvasNav" aria-labelledby="offcanvasNavLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavLabel">Kidz Runz</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav mb-2 mb-lg-0 nav__list">
            <li class="nav-item nav__item">
                <a class="nav-link nav__link" href="{% url 'frontend:home' %}" aria-current="{% if request.path == '/' %}page{% endif %}">Home</a>
            </li>
            <li class="nav-item nav__item dropdown">
                <a class="nav-link nav__link dropdown-toggle" href="{% url 'frontend:about' %}" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">About Us</a>
                <ul class="dropdown-menu nav__dropdown" aria-labelledby="aboutDropdown">
                    <li class="nav__dropdown-item"><a class="dropdown-item nav__link" href="{% url 'frontend:about' %}">Welcome to Kidz Runz</a></li>
                    <li class="nav__dropdown-item"><a class="dropdown-item nav__link" href="{% url 'frontend:mission' %}">Our Mission Statements</a></li>
                    <li class="nav__dropdown-item"><a class="dropdown-item nav__link" href="{% url 'frontend:story' %}">Once Upon A Time Story</a></li>
                    <li class="nav__dropdown-item"><a class="dropdown-item nav__link" href="{% url 'frontend:communication' %}">Communication and Feedback</a></li>
                    <li class="nav__dropdown-item"><a class="dropdown-item nav__link" href="{% url 'frontend:parent_tips' %}">Parent Tips and Support</a></li>
                    <li class="nav__dropdown-item"><a class="dropdown-item nav__link" href="{% url 'frontend:safeguarding' %}">Our Commitment to Safeguarding</a></li>
                </ul>
            </li>
            <li class="nav-item nav__item">
                <a class="nav-link nav__link" href="{% url 'frontend:cams' %}">CAMS</a>
            </li>
            <li class="nav-item nav__item dropdown">
                <a class="nav-link nav__link dropdown-toggle" href="{% url 'frontend:activities' %}" id="activitiesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Activities</a>
                <ul class="dropdown-menu nav__dropdown" aria-labelledby="activitiesDropdown">
                    <li class="nav__dropdown-item"><a class="dropdown-item nav__link" href="{% url 'frontend:benefits' %}">Benefits of Children in Sports Activities</a></li>
                    <li class="nav__dropdown-item"><a class="dropdown-item nav__link" href="{% url 'frontend:explore' %}">Explore Activities</a></li>
                </ul>
            </li>
            <li class="nav-item nav__item">
                <a class="nav-link nav__link" href="{% url 'frontend:gallery' %}">Gallery</a>
            </li>
            <li class="nav-item nav__item">
                <a class="nav-link nav__link" href="{% url 'frontend:faqs' %}">FAQs</a>
            </li>
            <li class="nav-item nav__item dropdown">
                <a class="nav-link nav__link dropdown-toggle" href="{% url 'frontend:bookings' %}" id="bookingsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Bookings</a>
                <ul class="dropdown-menu nav__dropdown" aria-labelledby="bookingsDropdown">
                    <li class="nav__dropdown-item"><a class="dropdown-item nav__link" href="{% url 'frontend:pricing_packages' %}">Price Packages</a></li>
                    <li class="nav__dropdown-item"><a class="dropdown-item nav__link" href="{% url 'frontend:bookings' %}#policies">Package Policies</a></li>
                </ul>
            </li>
            <li class="nav-item nav__item">
                <a class="nav-link nav__link" href="{% url 'frontend:testimonials' %}">Testimonials</a>
            </li>
            <li class="nav-item nav__item">
                <a class="nav-link nav__link" href="{% url 'frontend:contact' %}">Contact Us</a>
            </li>
        </ul>
    </div>
</div>

<!-- Desktop navigation -->
<button class="navbar-toggler d-lg-none nav__toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNav" aria-controls="offcanvasNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse d-none d-lg-flex" id="navbarNav">
    <ul class="navbar-nav ms-auto nav__list">
        <li class="nav-item nav__item">
            <a class="nav-link nav__link" href="{% url 'frontend:home' %}" aria-current="{% if request.path == '/' %}page{% endif %}">Home</a>
        </li>
        <li class="nav-item nav__item dropdown">
            <a class="nav-link nav__link dropdown-toggle" href="{% url 'frontend:about' %}" id="aboutDropdownDesktop" role="button" data-bs-toggle="dropdown" aria-expanded="false">About Us</a>
            <ul class="dropdown-menu nav__dropdown" aria-labelledby="aboutDropdownDesktop">
                <li class="nav__dropdown-item"><a class="dropdown-item nav__link" href="{% url 'frontend:about' %}">Welcome to Kidz Runz</a></li>
                <li class="nav__dropdown-item"><a class="dropdown-item nav__link" href="{% url 'frontend:mission' %}">Our Mission Statements</a></li>
                <li class="nav__dropdown-item"><a class="dropdown-item nav__link" href="{% url 'frontend:story' %}">Once Upon A Time Story</a></li>
                <li class="nav__dropdown-item"><a class="dropdown-item nav__link" href="{% url 'frontend:communication' %}">Communication and Feedback</a></li>
                <li class="nav__dropdown-item"><a class="dropdown-item nav__link" href="{% url 'frontend:parent_tips' %}">Parent Tips and Support</a></li>
                <li class="nav__dropdown-item"><a class="dropdown-item nav__link" href="{% url 'frontend:safeguarding' %}">Our Commitment to Safeguarding</a></li>
            </ul>
        </li>
        <li class="nav-item nav__item">
            <a class="nav-link nav__link" href="{% url 'frontend:cams' %}">CAMS</a>
        </li>
        <li class="nav-item nav__item dropdown">
            <a class="nav-link nav__link dropdown-toggle" href="{% url 'frontend:activities' %}" id="activitiesDropdownDesktop" role="button" data-bs-toggle="dropdown" aria-expanded="false">Activities</a>
            <ul class="dropdown-menu nav__dropdown" aria-labelledby="activitiesDropdownDesktop">
                <li class="nav__dropdown-item"><a class="dropdown-item nav__link" href="{% url 'frontend:benefits' %}">Benefits of Children in Sports Activities</a></li>
                <li class="nav__dropdown-item"><a class="dropdown-item nav__link" href="{% url 'frontend:explore' %}">Explore Activities</a></li>
            </ul>
        </li>
        <li class="nav-item nav__item">
            <a class="nav-link nav__link" href="{% url 'frontend:gallery' %}">Gallery</a>
        </li>
        <li class="nav-item nav__item">
            <a class="nav-link nav__link" href="{% url 'frontend:faqs' %}">FAQs</a>
        </li>
        <li class="nav-item nav__item dropdown">
            <a class="nav-link nav__link dropdown-toggle" href="{% url 'frontend:bookings' %}" id="bookingsDropdownDesktop" role="button" data-bs-toggle="dropdown" aria-expanded="false">Bookings</a>
            <ul class="dropdown-menu nav__dropdown" aria-labelledby="bookingsDropdownDesktop">
                <li class="nav__dropdown-item"><a class="dropdown-item nav__link" href="{% url 'frontend:pricing_packages' %}">Price Packages</a></li>
                <li class="nav__dropdown-item"><a class="dropdown-item nav__link" href="{% url 'frontend:bookings' %}#policies">Package Policies</a></li>
            </ul>
        </li>
        <li class="nav-item nav__item">
            <a class="nav-link nav__link" href="{% url 'frontend:testimonials' %}">Testimonials</a>
        </li>
        <li class="nav-item nav__item">
            <a class="nav-link nav__link" href="{% url 'frontend:contact' %}">Contact Us</a>
        </li>
    </ul>
</div>