{% extends "core/base_email.html" %}

{% block title %}New Booking Notification{% endblock %}
{% block header_color %}#dc3545{% endblock %}
{% block button_color %}#dc3545{% endblock %}
{% block header %}New Booking Notification{% endblock %}

{% block content %}
    <p>A new booking has been received:</p>
    <ul>
        <li><strong>Reference ID:</strong> {{ booking.reference_id }}</li>
        <li><strong>Visitor Name:</strong> {{ booking.name }}</li>
        <li><strong>Email:</strong> {{ booking.email }}</li>
        <li><strong>Phone:</strong> {{ booking.phone }}</li>
        <li><strong>Package:</strong> {{ booking.package.name }}</li>
        <li><strong>Start Date and Time:</strong> {{ booking.start_date|date:"Y-m-d H:i" }}</li>
        <li><strong>End Date and Time:</strong>
            {% if booking.end_date %}
                {{ booking.end_date|date:"Y-m-d H:i" }}
            {% else %}
                Not calculated
            {% endif %}
        </li>
        <li><strong>Additional Information:</strong> {{ booking.description|default:"None" }}</li>
    </ul>
    <p>Please follow up with the visitor.</p>
    <p><a href="{{ request.scheme }}://{{ request.get_host }}/admin/core/booking/{{ booking.id }}/change/" class="btn">Manage/View Booking</a></p>
{% endblock %}