{% extends "core/base_email.html" %}

{% block title %}Booking Confirmation{% endblock %}
{% block header %}Kidz Runz Booking Confirmation{% endblock %}

{% block content %}
    <p>Dear {{ booking.name }},</p>
    <p>Thank you for booking with Kidz Runz!</p>
    <ul>
        <li><strong>Reference ID:</strong> {{ booking.reference_id }}</li>
        <li><strong>Package:</strong> {{ booking.package.name }}</li>
        <li><strong>Start Date and Time:</strong> {{ booking.start_date|date:"Y-m-d H:i" }}</li>
        <li><strong>End Date and Time:</strong>
            {% if booking.end_date %}
                {{ booking.end_date|date:"Y-m-d H:i" }}
            {% else %}
                Not calculated
            {% endif %}
        </li>
        <li><strong>Additional Information:</strong> {{ booking.description|default:"None" }}</li>
    </ul>
    <p>We look forward to seeing you!</p>
    <p>To cancel your booking, <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'core:cancel_booking' booking.reference_id %}" class="btn">click here</a>.</p>
    <p>Best regards,<br>Kidz Runz Team</p>
{% endblock %}