{% extends "core/base_email.html" %}

{% block title %}Booking Cancellation Confirmation{% endblock %}
{% block header %}Kidz Runz Booking Cancellation{% endblock %}

{% block content %}
    <p>Dear {{ booking.name }},</p>
    <p>Your booking with Kidz Runz has been successfully canceled.</p>
    <ul>
        <li><strong>Reference ID:</strong> {{ booking.reference_id }}</li>
        <li><strong>Package:</strong> {{ booking.package.name }}</li>
        <li><strong>Start Date and Time:</strong> {{ booking.start_date|date:"Y-m-d H:i" }}</li>
        <li><strong>End Date and Time:</strong>
            {% if booking.end_date %}
                {{ booking.end_date|date:"Y-m-d H:i" }}
            {% else %}
                Not calculated
            {% endif %}
        </li>
        <li><strong>Additional Information:</strong> {{ booking.description|default:"None" }}</li>
    </ul>
    <p>If you have any questions, please contact us.</p>
    <p>Best regards,<br>Kidz Runz Team</p>
{% endblock %}